// app global css in SCSS form
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  // background-color: #f6fff8;
  color: #373737;
}

.responsive-img {
  height: auto;
  width: 100%;
}
